<%namespace file="utils.html" import="error_field, radio_type, _md"/>
<%namespace file="less.html" import="less_stylesheet"/>
<%inherit file="reddit.html"/>

<%def name="stylesheet()">
  ${parent.stylesheet()}
  ${less_stylesheet('gold.less')}
</%def>

<%def name="content()">
<div id="app-beta-signup" class="gold-wrap">
    <div class="fancy">
        <div class="fancy-inner">
            <div class="fancy-content">
            %if not thing.already_registered:
                <h1>Register for the reddit gold AMA app beta</h1>
                <form id="beta-form" name="beta-form" class="gold-form" onsubmit="return post_form(this, 'register_for_app_beta');">
                    <div id="form-options" class="container">
                        <section>
                            <h3>Select your phone OS:</h3>
                            <ul>
                                <li>${radio_type("os", "android", _("Android"), "")}</li>
                                <li>${radio_type("os", "ios", _("iOS"), "")}</li>
                            </ul>
                            <div id="os-error" class="error"></div>
                        </section>
                        <section>
                            <h3>Enter your email address:</h3>
                            <input type="email" name="email" placeholder="enter your email address">
                            <p class="hint">Android users: this must be the email address associated with your Google Play account.</p>
                            ${error_field("NO_EMAIL", "email", "span")}
                            ${error_field("BAD_EMAIL", "email", "span")}
                        </section>
                    </div>
                    <div class="buttons">
                        <button type="submit" class="btn gold-button">register</button>
                    </div>
                    <span class="status"></span>
                </form>

                <section class="gold-question">
                    <h3 class="toggle">Why do we need your email address and what we do with it?</h3>
                    <div class="details hidden" style="display: none;">
                        <div class="container">
                        <p>
                        An email address is required for us to add you to to the beta programs used by Apple and Google
                        (TestFlight and Google Groups respectively).
                        </p>
                        <p>
                        Additionally, for the duration of the beta period the email address you provide will be
                        associated with your reddit account for app support purposes only. This means that if you post an issue
                        in the private beta support subreddit, we can cross reference your username with your email address
                        which will tell us what device the app is installed on, which will help us debug the app.
                        </p>
                        <p>
                        Once the beta ends we will delete all of the information you provided when you signed up.
                        We will not use the information you provide for anything other than providing support during the beta.
                        </p>
                        </div>
                    </div>
                </section>
            %else:
              <p>You're registered for the app beta! Thanks, you should receive more details soon.</p>
            %endif
            </div>
        </div>
    </div>
</div>
</%def>
