<%!
  from r2.lib.strings import strings
  from r2.lib.template_helpers import make_url_protocol_relative, static
%>
<%namespace file="less.html" import="less_stylesheet"/>
<%namespace file="utils.html" import="classes, _md"/>
<%inherit file="reddit.html"/>

<%def name="stylesheet()">
  ${parent.stylesheet()}
  ${less_stylesheet('gold.less')}
</%def>

<%def name="feature_item(name, img_src, description_md, extra_class='', img_url=None)">
  <section id="${name}" ${classes(extra_class)}>
    %if img_url:
      <a href="${img_url}">
    %endif
        <div class="sample"><img src="${make_url_protocol_relative(img_src)}" alt=""></div>
    %if img_url:
      </a>
    %endif
    <div class="description">
      %if 'new' in extra_class.split():
        <div class="new-mark">${_('New!')}</div>
      %endif
      ${_md(description_md)}
      %if caller:
        ${caller.body()}
      %endif
    </div>
  </section>
</%def>

<%def name="goldinfo_header(title, description=None, css_class=None)">
  <header ${classes(css_class)}>
    <img class="insignia" src="${static('gold/gold-insignia-big.png')}" alt="">
    <h1>${title}</h1>
    % if description:
      <p>${description}</p>
    % endif
    <div class="actions">
      <a class="buy-gold-button" href="/gold?goldtype=autorenew&source=about">${_('buy reddit gold')}</a>&#32;
      <span class="or">${_('or')}</span>
      <a class="postcard-button" href="/gold/about#postcard"><img src="${static('gold/stamp.png')}" alt=""> ${_('send us a postcard')}</a>
    </div>
    %if caller:
      ${caller.body()}
    %endif
  </header>
</%def>

<%def name="goldinfo_footer()">
  <footer>
    <h1>${_('become a member today.')}</h1>
    <p>${_('reddit gold is %(gold_month_price)s / month, or %(gold_year_price)s for a year.') % thing.prices}</p>
    <a class="buy-gold-button" href="/gold?goldtype=autorenew&source=about">${_('buy reddit gold')}</a>
  </footer>
</%def>

<%def name="content()">
  <section id="gold-letter">
    <div class="letter-body">
      <img class="logo" src="${static('gold/reddit-gold-logo.png')}" alt="reddit gold">
      ${_md(
        "reddit gold is our premium membership program. It grants you access to extra features to improve your reddit experience. It also makes you really quite dapper.\n\n"
        "If you have questions about any of the benefits, please visit /r/goldbenefits. New benefits and features will also be announced there, and we hope you'll enjoy them."
      )}
    </div>
  </section>
  <section id="about-gold">
    ${goldinfo_header(_('You can make reddit better.'), css_class='short')}

    % for feature in thing.features:
      ${feature_item(name=feature.id,
                     img_src=feature.image_url,
                     description_md='# {0}\n{1}'.format(feature.name, feature.description),
                     extra_class=feature.extra_classes)}
    % endfor

    <section id="other-benefits" class="etc">
      <h1>Last, but not least:</h1>
      <ul>
        <li><strong>${_('The Lounge.')}</strong>&#32;${_('Access to a super-secret members-only community that may or may not exist.')}</li>
        <li><strong>${_('Beta test new features.')}</strong>&#32;${_('We occasionally invite gold members to try out new features first.')}</li>
        <li><strong>${_('A trophy on your user page.')}</strong>&#32;${_('As thanks for supporting reddit gold.')}</li>
        <li><strong>${_('More to come.')}</strong>&#32;${_("We have many more ideas for gold features, and will add to this list in the future.")}</li>
      </ul>
    </section>
    ${goldinfo_footer()}
  </section>
  <div class="or-box">${_('or')}</div>
  <a class="postcard" href="/about/postcards" target="_blank" alt="reddit, PO Box 7775 #16093, San Francisco, CA 94120-7775">
    <section id="postcard">
      ## TRANSLATORS: this string is displayed as the content of a postcard
      ## with pretty typographical formatting.
      ## If you use '|' characters to split the translated string into 5 parts,
      ## the parts will be split onto separate lines with fancy typographic
      ## formatting specific to each line (see the site for an example).
      ## If this fancy formatting isn't a good fit for your language, omit the
      ## '|' characters. The translated string will be displayed in full size
      ## without any typographic effects.
      <% parts = _('send us a postcard | for | 1 free month | of | reddit gold').split('|') %>
      <h1>
        % if len(parts) == 5:
          <strong>${parts[0]}</strong>
          <span class="for">${parts[1]}</span>
          <strong>${parts[2]}</strong>
          <span class="of">&mdash;&mdash;${parts[3]}&mdash;&mdash;</span>
          <span class="gold-typo">${parts[4]}</span>
        % else:
          <strong>${parts[0]}</strong>
        % endif
      </h1>
      <div class="sticker">
        <div>${_('view the postcard gallery')}</div>
      </div>
    </section>
  </a>
</%def>
