<%!
  from r2.lib import js
  from r2.lib.template_helpers import static
%>

<%namespace file="less.html" import="less_stylesheet"/>
<%namespace file="utils.html" import="_md, _mdf"/>

${less_stylesheet('gold.less')}

<div class="snoovatar-page js-snoovatar-page">
  %if thing.editable:
    <h1>${_('your snoovatar!')}</h1>
  %endif
  <div class="container">
    %if thing.editable:
      <div class="arrow-container left">
        <div id="prevButton" class="arrow left">
          <img src="${static('snoovatar/icons/arrow.svg')}">
        </div>
        <div id="random" class="button"><div class="icon"></div></div>
      </div>
    %endif
    <div id="snoovatar"
      %if thing.editable:
        class="editable"
      %endif
    >
      <div class="shadow"></div>
    </div>
    %if thing.editable:
      <div class="arrow-container right">
        <div id="nextButton" class="arrow right">
          <img src="${static('snoovatar/icons/arrow.svg')}">
        </div>
        <div id="clear" class="button"><div class="icon"></div></div>
      </div>
      <div class="selectors">
        <ul>
        </ul>
      </div>
      <footer>
        <div class="inputs">
          <label class="checkbox-label">
            <input type="checkbox" id="public"
              %if not thing.snoovatar or thing.snoovatar['public']:
                checked="checked"
              %endif
            >
            <span class="proxy-checkbox"></span>
            <span class="label">${_('make my snoovatar public')}</span>
          </label>
          <label class="snoo-color-label js-snoo-color-label">
            <%
              snoo_color = thing.snoovatar['snoo_color'] if thing.snoovatar else '#FFFFFF'
            %>
            <input id="color" type="color" value="${snoo_color}">
            <span class="label">${_('main color')}</span>
          </label>
          <label class="snoo-color-label js-snoo-color-label is-hidden">
            <%
              snoo_color_alt = thing.snoovatar['snoo_color'] if thing.snoovatar else '#FFFFFF'
            %>
            <input id="alt_color" type="color" value="${snoo_color_alt}">
            <span class="label">${_('alt color')}</span>
          </label>
        </div>
        <div class="buttons">
          <button id="save" class="button button-big">${_('save changes')}</button>
          <a id="download" target="_blank" href="#" download="snoovatar.png" class="button button-big">${_('download')}</a>
        </div>
        <div id="message" class="message" style="display: none;"></div>
      </footer>
    %else:
      <div class="username">${thing.username}</div>
    %endif
    ${_md('see more snoovatars and make suggestions in /r/snoovatars')}
    %if c.user.gold and c.user.name != thing.username:
      ${_mdf('create your own snoovatar [here](/user/%(username)s/snoo)', username=c.user.name)}
    %elif not c.user.gold:
      <div class="gold-accent rounded">
        ${_md('[create your own snoovatar with **reddit gold**](/gold?source=snoovatar)')}
      </div>
    %endif

    <div id="js-svg-canvas" class="svg-snoo-container"></div>
  </div>
</div>

${unsafe(js.use("snoovatar"))}

<%
  snoovatar_source = js.DataSource(
    wrap="r.snoovatar.initSnoovatar({content})",
    data=thing.snoovatar,
  )
%>

${unsafe(snoovatar_source.use())}
